@media screen and (min-width: 480px) {
  body {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  body {
    width: 1600px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1600px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 1200px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.title {
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.hidden-title {
  display: none;
}

.figure {
  margin: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.link-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 88px;
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-logo:hover, .link-logo:focus {
  color: #2196f3;
}

.footer-logo {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover, .footer-logo:focus {
  color: #2196f3;
}

.web {
  color: #2196f3;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 480px;
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .header-container {
    width: 1200px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 80px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 80px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1600px) {
  .site-nav {
    margin-right: 305px;
  }
}

.actual-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  position: relative;
}

.actual-page::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 38px;
    padding: 0;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

.contacts {
  margin-right: 30px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover {
  color: #2196f3;
}

.contacts:focus {
  color: #2196f3;
}

.contacts li {
  margin-right: 30px;
}

.contacts-accent {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-accent:hover {
  color: #2196f3;
  fill: #2196f3;
}

.contacts-accent:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .contacts-accent {
    padding: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.contacts-icon {
  margin-right: 10px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fff;
  /* @media screen and (min-width: 768) {
    display: none;
  } */
}

.menu-button .menu-close {
  display: none;
}

.menu-button.is-open .menu-close {
  display: block;
}

.menu-button.is-open .menu-open {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  color: red;
  background-color: teal;
}

.menu-container.is-open {
  display: block;
}

.hero {
  margin-bottom: 0;
}

.hero-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
  width: 480px;
  height: 400px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .hero-container {
    width: 1200px;
    height: 600px;
  }
}

.hero-bg {
  height: 400px;
  max-width: 480px;
  min-width: 480px;
  background-image: url(/images/phone-header-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: url(/images/phone-header-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: url(/images/tablet-header-1x.jpg);
    max-width: 768px;
    min-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: url(/images/tablet-header-2x.jpg);
  }
}

@media screen and (min-width: 1600px) {
  .hero-bg {
    background-image: url(/images/desktop-header-1x.jpg);
    max-width: 1600px;
    min-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1600px) and (min-device-pixel-ratio: 2), screen and (min-width: 1600px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1600px) and (min-resolution: 192dpi), screen and (min-width: 1600px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: url(/images/desktop-header-2x.jpg);
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 118px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1600px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
}

.button-container {
  padding-bottom: 200px;
}

.button {
  padding: 10px, 32px;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  background: #2196f3;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
}

@media screen and (min-width: 1600px) {
  .modal {
    max-width: 528px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  fill: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.modal-title {
  margin-top: 40px;
  margin-bottom: 12px;
  color: #212121;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 370px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 1600px) {
  .form {
    max-width: 448px;
  }
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  padding: 12px 12px 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #2196f3;
}

.form-input:focus + .input-icon {
  fill: #2196f3;
}

.input {
  width: 100%;
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  padding: 12px 16px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border: 1px solid #2196f3;
}

.form-textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.agreement-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.agreement-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
}

.agreement-conditions {
  color: #2196f3;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checked-icon {
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid #2196f3;
  background-color: #2196f3;
}

.checked-icon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.form-submit {
  padding: 0;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(100% - 2 * 30px);
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (min-width: 1600px) {
  .features {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features-elements {
  width: 450px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .features-elements:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features-elements {
    width: 354px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1600px) {
  .features-elements {
    width: 270px;
    margin-bottom: 0;
  }
}

.features-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features-icons {
    width: 354px;
  }
}

@media screen and (min-width: 1600px) {
  .features-icons {
    width: 270px;
  }
}

.features-title {
  margin-top: 30px;
  margin-bottom: 0;
  color: #212121;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  margin-top: 10px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section-area {
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1599px) {
  .section-area {
    display: none;
  }
}

.area-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 1200px;
}

.area-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15px;
}

.figure {
  position: relative;
  margin: 0;
}

.area {
  margin: 0;
  margin-right: 30px;
  text-align: center;
}

.area:nth-child(3n) {
  margin-right: 0;
}

.area-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}

.staff-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

@media screen and (min-width: 1600px) {
  .staff-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.staff-container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .staff-container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .staff-container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .staff-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* width: calc((100% - 2 * 30px) / 2); */
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (min-width: 1600px) {
  .staff-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.staff {
  margin: 0;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  width: 450px;
  height: 622px;
  background: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1600px) {
  .staff:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .staff:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .staff {
    width: 354px;
    height: 536px;
  }
}

@media screen and (min-width: 1600px) {
  .staff {
    width: 270px;
    height: 428px;
    margin-bottom: 0;
  }
}

.staff-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}

.staff-position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 32px;
  padding-right: 32px;
}

.networks-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-icons:hover, .networks-icons:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.networks li {
  margin-right: 10px;
}

.networks li:last-child {
  margin-right: 0;
}

.client-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 480px;
}

@media screen and (min-width: 768px) {
  .client-container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .client-container {
    width: 1200px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .clients-list {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (min-width: 1600px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.client-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 90px;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover, .client-logo:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .client-logo {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1600px) {
  .client-logo {
    width: 170px;
    height: 90px;
    margin-bottom: 0;
  }
}

.portfolio-container {
  width: 450px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .portfolio-container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .portfolio-container {
    width: 1200px;
    padding-top: 93px;
    padding-bottom: 94px;
  }
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
  min-width: 450px;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .buttons-list {
    margin-bottom: 50px;
  }
}

.filter-buttons {
  padding: 6px, 22px;
  margin-right: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  background: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons:hover, .filter-buttons:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-example {
  width: 450px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .work-example:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1600px) {
  .work-example:nth-child(2n) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .work-example:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1600px) {
  .work-example:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1600px) {
  .work-example:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.work-example:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .work-example {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 1600px) {
  .work-example {
    width: 370px;
    margin-bottom: 30px;
  }
}

.work {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.works-name {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-type {
  margin: 0;
  padding-left: 24px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-image {
  height: 294px;
  position: relative;
  overflow: hidden;
}

.invisible {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 23px;
  padding-right: 23px;
  margin: 0;
  height: 294px;
  width: 404px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(295px);
          transform: translateY(295px);
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .invisible {
    width: 308px;
  }
}

@media screen and (min-width: 1600px) {
  .invisible {
    width: 324px;
  }
}

.portfolio-image:hover .invisible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  background-color: #2f303a;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 480px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .footer-container {
    width: 1600px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.tablet-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .tablet-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}

@media screen and (min-width: 1600px) {
  .tablet-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 60px;
  }
}

.contact-information {
  text-align: center;
  padding-top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .contact-information {
    padding-top: 60px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1600px) {
  .contact-information {
    margin-right: 70px;
    text-align: start;
    margin-left: 15px;
    padding-right: 15px;
  }
}

.footer-adress {
  margin-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-contacts {
  display: inline-block;
  margin-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1600px) {
  .footer-title {
    text-align: start;
    margin-top: 12px;
  }
}

.invitation {
  margin-top: 5px;
}

@media screen and (min-width: 1600px) {
  .invitation {
    margin-top: 0;
    margin-right: 93px;
  }
}

.invitation-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.invitation-list li {
  margin-right: 10px;
}

.invitation-list li:last-child {
  margin-right: 0;
}

.invitation-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invitation-icons:hover, .invitation-icons:focus {
  background-color: #2196f3;
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1600px) {
  .mailing-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.mailing-input {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 450px;
  height: 50px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
}

.mailing-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.mailing-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.mailing-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1600px) {
  .mailing-input {
    width: 358px;
    margin-right: 12px;
  }
}

.mailing-button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;
  margin-bottom: 60px;
  color: #ffffff;
  background: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
}

.icon-send {
  position: absolute;
  top: 13px;
  right: 28px;
}
/*# sourceMappingURL=main.css.map */